<nav class="side-nav" *ngIf="workbook">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/field-labor-activities">
                Field Labor Activities
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/machinery">
                Machinery Costs
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/crops">
                Crops
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/crop-units">
                Crop Units
            </a>
        </li>
    </ul>
</nav>
