<nav class="side-nav" *ngIf="workbook">

    <div class="nav-group mb-3">
        <h4>Pre-Season</h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/field-labor-activities">
                    Field Labor Activities
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/machinery">
                    Machinery Costs
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/crops">
                    Crops
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/crop-units">
                    Crop Units
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/transplant-production-labor-activities">
                    TP Labor Activities
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/transplant-production-tray-types">
                    TP Tray Types
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/field-input-costs">
                    Field Input Cost
                </a>
            </li>
        </ul>
    </div>
    
    <div class="nav-group mb-3">
        <h4>In-Season</h4>
    </div>
    
    <div class="nav-group mb-3">
        <h4>Post-Season</h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/field-labor-by-crop">
                    Field Labor By Crop
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/transplant-production-inputs">
                    TP Inputs
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/transplant-production-input-costs">
                    TP Input Costs
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/workbooks/{{workbook.WorkbookID}}/forms/transplant-production-labor-by-crop">
                    TP Labor By Crop
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-group mb-3">
        <h4>Results</h4>
    </div>
</nav>