<nav class="side-nav">
    
    <div class="nav-group mb-3">
        <h4>Workbook</h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    Workbook Detail
                </a>
            </li>
        </ul>
    </div>

    <div class="nav-group mb-3" [class.nav-links-disabled]="navLinksDisabled()">
        <h4>Pre-Season <field-definition [fieldDefinitionType]="'PreSeason'" [labelOverride]="''"></field-definition></h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <a class="nav-link" 
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'field-labor-activities']"        
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    Field Labor Activities 
                    <field-definition [fieldDefinitionType]="'FieldLaborActivityForm'" [labelOverride]="''"></field-definition>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'machinery']"        
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                Machinery Costs
                    <field-definition [fieldDefinitionType]="'MachineryCostForm'" [labelOverride]="''"></field-definition>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'crops']"        
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                Crops
                    <field-definition [fieldDefinitionType]="'CropForm'" [labelOverride]="''"></field-definition>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'crop-units']"        
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                Crop Units
                    <field-definition [fieldDefinitionType]="'CropUnitForm'" [labelOverride]="''"></field-definition>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'transplant-production-labor-activities']"        
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    TP Labor Activities
                    <field-definition [fieldDefinitionType]="'TPLaborActivityForm'" [labelOverride]="''"></field-definition>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'transplant-production-tray-types']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    TP Tray Types
                    <field-definition [fieldDefinitionType]="'TPTrayTypeForm'" [labelOverride]="''"></field-definition>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'field-input-costs']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                Field Input Cost
                <field-definition [fieldDefinitionType]="'FieldInputCostForm'" [labelOverride]="''"></field-definition>
                </a>
            </li>
            
        </ul>
    </div>
    

    

    <div class="nav-group mb-3">
        <h4>In-Season <field-definition [fieldDefinitionType]="'InSeason'" [labelOverride]="''"></field-definition></h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'field-standard-times']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    Field Labor Time Studies
                    <field-definition [fieldDefinitionType]="'FieldStandardTimesForm'" [labelOverride]="''"></field-definition>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'harvest-post-harvest-standard-times']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    Harvest Standard Times
                    <field-definition [fieldDefinitionType]="'HarvestPostHarvestStandardTimeForm'" [labelOverride]="''"></field-definition>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'transplant-production-standard-times']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    TP Standard Times
                    <field-definition [fieldDefinitionType]="'TPStandardTimeForm'" [labelOverride]="''"></field-definition>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="nav-group mb-3">
        <h4>Post-Season <field-definition [fieldDefinitionType]="'PostSeason'" [labelOverride]="''"></field-definition></h4>
        <!-- all other forms-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'field-labor-by-crop']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    Field Labor By Crop
                    <field-definition [fieldDefinitionType]="'FieldLaborByCropForm'" [labelOverride]="''"></field-definition>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'field-input-by-crop']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    Field Input By Crop
                    <field-definition [fieldDefinitionType]="'FieldInputByCropForm'" [labelOverride]="''"></field-definition>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'transplant-production-inputs']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    TP Inputs
                    <field-definition [fieldDefinitionType]="'TPInputForm'" [labelOverride]="''"></field-definition>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'transplant-production-input-costs']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                TP Input Costs
                    <field-definition [fieldDefinitionType]="'TPInputCostForm'" [labelOverride]="''"></field-definition>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'transplant-production-information']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    TP Info
                    <field-definition [fieldDefinitionType]="'TPInfoForm'" [labelOverride]="''"></field-definition>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'transplant-production-labor-by-crop']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                TP Labor By Crop
                    <field-definition [fieldDefinitionType]="'TPLaborByCropForm'" [labelOverride]="''"></field-definition>
                </a>
             </li>
        <li class="nav-item">
            <a class="nav-link"
            [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'crop-yield-information']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
            Crop Yield Info
                <field-definition [fieldDefinitionType]="'CropYieldInfoForm'" [labelOverride]="''"></field-definition>
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'forms', 'crop-specific-info']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    Crop Specific Info
                    <field-definition [fieldDefinitionType]="'CropSpecificInfoForm'" [labelOverride]="''"></field-definition>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-group mb-3">
        <h4>Results <field-definition [fieldDefinitionType]="'Results'" [labelOverride]="''"></field-definition></h4>
        <!-- dashboards -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                [routerLink]="['/workbooks', workbook ? workbook.WorkbookID : -1, 'results', 'crop-crop-unit']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true, __change_detection_hack__: workbook }">
                    Crop/Crop Unit
                    <field-definition [fieldDefinitionType]="'ResultsCropCropUnit'" [labelOverride]="''"></field-definition>
                </a>
            </li>
        </ul>
    </div>
</nav>