Hotfixes
_ReSharper.Caches
OregonTilth.Web/src/assets/config.json
OregonTilth.API/appsecrets.json
OregonTilth.Web/.vscode
OregonTilth.API/appsecrets.json
Build/temp
.vs
bin
obj
*.dbmdl
*.jfm

*.env
*.user
Source/OregonTilth.Web/wwwroot/
Build/build.ini
*.vscode/