CREATE TYPE dbo.html FROM varchar(max) NULL
GO

CREATE TABLE dbo.[Role](
	RoleID int NOT NULL CONSTRAINT PK_Role_RoleID PRIMARY KEY,
	RoleName varchar(100) NOT NULL CONSTRAINT AK_Role_RoleName UNIQUE,
	RoleDisplayName varchar(100) NOT NULL CONSTRAINT AK_Role_RoleDisplayName UNIQUE,
	RoleDescription varchar(255) NULL,
	SortOrder int NOT NULL
)

CREATE TABLE dbo.[User](
	UserID int IDENTITY(1,1) NOT NULL CONSTRAINT PK_User_UserID PRIMARY KEY,
	UserGuid uniqueidentifier NULL,
	FirstName varchar(100) NOT NULL,
	LastName varchar(100) NOT NULL,
	Email varchar(255) NOT NULL CONSTRAINT AK_User_Email UNIQUE,
	Phone varchar(30) NULL,
	RoleID int NOT NULL CONSTRAINT FK_User_Role_RoleID FOREIGN KEY REFERENCES dbo.Role (RoleID),
	CreateDate datetime NOT NULL,
	UpdateDate datetime NULL,
	LastActivityDate datetime NULL,
	DisclaimerAcknowledgedDate datetime NULL,
	IsActive bit NOT NULL,
	ReceiveSupportEmails bit NOT NULL,
	LoginName varchar(128) NULL,
	Company varchar(100) NULL
)


CREATE TABLE dbo.FileResourceMimeType(
	FileResourceMimeTypeID int NOT NULL CONSTRAINT PK_FileResourceMimeType_FileResourceMimeTypeID PRIMARY KEY,
	FileResourceMimeTypeName varchar(100) NOT NULL CONSTRAINT AK_FileResourceMimeType_FileResourceMimeTypeName UNIQUE,
	FileResourceMimeTypeDisplayName varchar(100) NOT NULL CONSTRAINT AK_FileResourceMimeType_FileResourceMimeTypeDisplayName UNIQUE,
	FileResourceMimeTypeContentTypeName varchar(100) NOT NULL,
	FileResourceMimeTypeIconSmallFilename varchar(100) NULL,
	FileResourceMimeTypeIconNormalFilename varchar(100) NULL
)

CREATE TABLE dbo.FileResource(
	FileResourceID int IDENTITY(1,1) NOT NULL CONSTRAINT PK_FileResource_FileResourceID PRIMARY KEY,
	FileResourceMimeTypeID int NOT NULL CONSTRAINT FK_FileResource_FileResourceMimeType_FileResourceMimeTypeID FOREIGN KEY REFERENCES dbo.FileResourceMimeType (FileResourceMimeTypeID),
	OriginalBaseFilename varchar(255) NOT NULL,
	OriginalFileExtension varchar(255) NOT NULL,
	FileResourceGUID uniqueidentifier NOT NULL CONSTRAINT AK_FileResource_FileResourceGUID UNIQUE,
	FileResourceData varbinary(max) NOT NULL,
	CreateUserID int NOT NULL CONSTRAINT FK_FileResource_User_CreateUserID_UserID FOREIGN KEY REFERENCES dbo.[User] (UserID),
	CreateDate datetime NOT NULL
)

CREATE TABLE dbo.CustomRichTextType(
	CustomRichTextTypeID int NOT NULL CONSTRAINT PK_CustomRichTextType_CustomRichTextTypeID PRIMARY KEY,
	CustomRichTextTypeName varchar(100) NOT NULL CONSTRAINT AK_CustomRichTextType_CustomRichTextTypeName UNIQUE,
	CustomRichTextTypeDisplayName varchar(100) NOT NULL CONSTRAINT AK_CustomRichTextType_CustomRichTextTypeDisplayName UNIQUE
)

CREATE TABLE dbo.CustomRichText(
	CustomRichTextID int IDENTITY(1,1) NOT NULL CONSTRAINT PK_CustomRichText_CustomRichTextID PRIMARY KEY,
	CustomRichTextTypeID int NOT NULL CONSTRAINT FK_CustomRichText_CustomRichTextType_CustomRichTextTypeID FOREIGN KEY REFERENCES dbo.CustomRichTextType (CustomRichTextTypeID),
	CustomRichTextContent dbo.html NULL
)

create table dbo.FieldDefinitionType (
	FieldDefinitionTypeID int not null constraint PK_FieldDefinitionType_FieldDefinitionTypeID primary key,
	FieldDefinitionTypeName varchar(100) not null constraint AK_FieldDefinitionType_FieldDefinitionTypeName unique,
	FieldDefinitionTypeDisplayName varchar(100) not null  constraint AK_FieldDefinitionType_FieldDefinitionTypeDisplayName unique
)

create table dbo.FieldDefinition (
	FieldDefinitionID int not null identity(1,1) constraint PK_FieldDefinition_FieldDefinitionID primary key,
	FieldDefinitionTypeID int not null constraint FK_FieldDefinition_FieldDefinitionType_FieldDefinitionTypeID foreign key (FieldDefinitionTypeID) references dbo.FieldDefinitionType(FieldDefinitionTypeID),
	FieldDefinitionValue dbo.html null
)

GO

insert into dbo.[Role](RoleID, RoleName, RoleDisplayName, RoleDescription, SortOrder)
values
(1, 'Admin', 'Administrator', '', 30),
(2, 'Normal', 'Landowner', '', 20),
(3, 'Unassigned', 'Unassigned', '', 10),
(4, 'Disabled', 'Disabled', '', 40)

declare @dateToUse datetime
set @dateToUse = getdate()

set identity_insert dbo.[User] on

set identity_insert dbo.[User] off

Insert into dbo.CustomRichTextType (CustomRichTextTypeID, CustomRichTextTypeName, CustomRichTextTypeDisplayName)
values

(1, 'Platform Overview', 'Platform Overview'),
(2, 'Disclaimer', 'Disclaimer'),
(3, 'Home page', 'Home page'),
(4, 'Help', 'Help'),
(5, 'LabelsAndDefinitionsList', 'Labels and Definitions List')



insert into FieldDefinitionType (FieldDefinitionTypeID, FieldDefinitionTypeName, FieldDefinitionTypeDisplayName)
values (1, 'Name', 'Name')

insert into FieldDefinition (FieldDefinitionTypeID, FieldDefinitionValue)
select FieldDefinitionTypeID, 'Default definition for ' + FieldDefinitionTypeDisplayName
from dbo.FieldDefinitionType
