ALTER TABLE dbo.Machinery
add Notes varchar(2000) null

go

ALTER TABLE dbo.FieldLaborByCrop
add Notes varchar(2000) null

go

ALTER TABLE dbo.TransplantProductionLaborActivityByCrop
add Notes varchar(2000) null

go

ALTER TABLE dbo.FieldInputByCrop
add Notes varchar(2000) null

go