.workbook-header {
    .btn-group {
        margin-left:30px;
    }
    button {
        background:#fff;
        color:#000;
        &:hover {
            text-decoration: underline;
        }
    }
}