
<div class="container-fluid">
  <div class="row mb-2 min-vh-100">
        <div class="col-lg-12">
        <app-alert-display></app-alert-display>
        <h1>Transplant Production Information</h1>
        <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        <div class="card mt-4">
          <div class="card-header">
            Add new
          </div>
          <div class="card-body">
            <form *ngIf=(model) (ngSubmit)="onSubmit(cropForm)" #cropForm="ngForm">
              <div class="row" *ngIf="displayPottingUpMessage()">
                <div class="col-md-12">
                  <div class="alert alert-info">
                    When "Potting Up" phase is selected, an entry with "Seeding" phase is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <label class="required">Crop</label>
                  <select name="CropID" class="form-select" [(ngModel)]="model.CropID" required>
                    <option value=""></option>
                    <option *ngFor="let option of cropDtos" [value]="option.CropID">
                      {{option.CropName}}
                    </option>
                  </select>
                </div>
                <div class="mb-3 col-md-4">
                  <label class="required">Phase</label>
                  <select name="PhaseID" class="form-select" [(ngModel)]="model.PhaseID" required>
                    <option value=""></option>
                    <option *ngFor="let option of phaseDtos" [value]="option.PhaseID">
                      {{option.PhaseDisplayName}}
                    </option>
                  </select>
                </div>
                <div class="mb-3 col-md-4">
                  <label class="required">TP Tray Type</label>
                  <select name="TransplantProductionTrayTypeID" class="form-select" [(ngModel)]="model.TransplantProductionTrayTypeID" required>
                    <option value=""></option>
                    <option *ngFor="let option of tpTrayTypeDtos" [value]="option.TransplantProductionTrayTypeID">
                      {{option.TransplantProductionTrayTypeName}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-3">
                  <label class="required">Cells/Plugs per Tray</label>
                  <input class="form-control" type="text" name="SeedsPerTray" [(ngModel)]="model.SeedsPerTray" required>
                </div>
                <div class="mb-3 col-md-3">
                  <label class="required">Percentage Plantable</label>
                  <input class="form-control" type="number" min="0" max="100" name="UsageRate" [(ngModel)]="model.UsageRate" required>
                </div>
                <div class="mb-3 col-md-3">
                  <label class="required">Seed Cost per Cell/Plug</label>
                  <input class="form-control" type="number" min="0" max="100" name="CostPerSeed" [(ngModel)]="model.CostPerSeed" [required]="model.PhaseID == seedingPhaseEnum" [disabled]="model.PhaseID != seedingPhaseEnum">
                </div>
                <div class="mb-3 col-md-3">
                  <label class="required">Crop Specific Input Costs Per Tray</label>
                  <input class="form-control" type="number" min="0" max="100" name="CropSpecificInputCostsPerTray" [(ngModel)]="model.CropSpecificInputCostsPerTray" required>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm">
                  <i class="fas fa-bolt"></i> Required field
                </div>
                <div class="col-sm text-end">
                  <button type="submit" class="btn btn-fresca" [disabled]="!cropForm.form.valid || isLoadingSubmit">
                    <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                    Submit
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <button class="btn btn-secondary btn-sm float-end" style="cursor: pointer;" (click)="exportToCsv()" placement="top" ngbTooltip="Download Grid">
              <i class="fas fa-download"></i>
              Download
            </button> 
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <ag-grid-angular #tpInfoGrid style="width: 100%; height: 500px;" class="ag-theme-balham" [rowData]="transplantProductionInformationDtos"
              [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" (cellValueChanged)="onCellValueChanged($event)" (gridReady)="onGridReady($event)" [suppressDragLeaveHidesColumns]="true">
            </ag-grid-angular>
          </div>
        </div>
    </div>
  </div>
</div>
