<nav class="navbar navbar-fresca navbar-expand-lg navbar-dark stroke">
    <div class="brand-container">
        <div class="logo-container">
            <a href="https://centerforsmallfarms.oregonstate.edu/" class="navbar-brand" target="_blank">
                <img src="assets/main/logos/osu-center-for-small-farms-logo.png" class="navbarLogo">
            </a>
            <a href="{{leadOrganizationHomeUrl()}}" class="navbar-brand" target="_blank">
                <img src="{{leadOrganizationLogoSrc()}}" class="navbarLogo">
            </a>
        </div>
        <a routerLink="/" routerLinkActive="active" class="navbar-brand nav-link">
            {{platformShortName()}}
        </a>    
    </div>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/about" class="nav-link">
                    About
                </a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAdministrator()">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/users" class="dropdown-item">
                        Users
                    </a>
                    <a routerLink="/pages" class="dropdown-item">
                        Pages
                    </a>
                    <a routerLink="/labels-and-definitions" class="dropdown-item">
                        Labels and Definitions
                    </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav flex-column mt-2 mt-lg-0 mr-sm-2">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated()">
                <a href="javascript:void(0);" (click)="login()" routerLinkActive="active" class="nav-link">Sign In</a>
            </li>
            <li class="nav-item dropdown welcomeUser" routerLinkActive="active" *ngIf="isAuthenticated()"> 
                <a href="#" class="nav-link dropdown-toggle pr-3" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Welcome {{getUserName()}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a href="javascript:void(0);" (click)="logout()" class="dropdown-item">Sign Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
