.homepageJumbotronImage {
    background-size: cover;
    background-position: center center;
    height: 300px;
}

#homepageJumbotronImage1 {
    background-image: url("/assets/main/home_image.jpg");
    background-position: center;
}

.admin-display-homepage {
    background:#fff;
    padding:5px;
}

.hidden {
    display:none;
}

.cta-container {
    display:flex;
    justify-content: center;
    
    .btn-cta {
        font-size:30px;
    }
    text-align:center;
}
