.time-studies-required-table {
    width:100%;
    tr {
        background:#fff;
        bordeR:1px solid #ddd;
        td {
            padding:5px;
            button {
                width:100%;
            }
        }
    }
    
}