<div class="container-fluid text-light my-0 py-0 d-none d-sm-block">
    <div class="row mt-0">
        <div class="col-sm homepageJumbotronImage" id="homepageJumbotronImage1"></div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row mb-2 min-vh-100">
        <side-nav class="col-lg-2"></side-nav>
        <div class="col-lg-10">
            <app-alert-display></app-alert-display>
            <ngb-alert *ngIf="userIsUnassigned()" [type]="'info'" [dismissible]="false">
                <span>
                    Welcome {{currentUser.FullName}}. You have successfully logged in to {{platformLongName()}}, but your
                    account is not yet configured. You will receive an email from the {{platformLongName()}}
                    Administrators when your account is ready to use. 
                </span>
            </ngb-alert>
            <ngb-alert *ngIf="userRoleIsDisabled()" [type]="'info'" [dismissible]="false">
                <span>
                    Your account is currently disabled. 
                </span>
            </ngb-alert>

            <div *ngIf="!currentUser">
                <custom-rich-text [customRichTextTypeID]="notLoggedInRichTextID"></custom-rich-text>
                <div class="cta-container mt-4" *ngIf="false">
                    <button (click)="createAccount()" type="button" class="btn btn-primary btn-cta">Create An Account!</button>
                </div>
            </div>
            
            <custom-rich-text *ngIf="userRoleIsEnabled()" [customRichTextTypeID]="loggedInRichTextID"></custom-rich-text>
            
            <div *ngIf="userRoleIsAdmin()" class="admin-display-homepage mt-4">
                <em>You are logged in as an admin. Other users <strong>do not</strong> see this section. You can edit the not-logged-in homepage content by <button class="btn btn-primary btn-sm" (click)="displayNotLoggedInRichTextForAdmin = !displayNotLoggedInRichTextForAdmin">clicking here</button>.</em>
                <div [class.hidden]="!displayNotLoggedInRichTextForAdmin" >
                    <custom-rich-text [customRichTextTypeID]="notLoggedInRichTextID"></custom-rich-text>
                </div>
            </div>
        </div>
    </div>
</div>