<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <a routerLink="/workbooks">Workbooks</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">New</li>
    </ol>
</nav>

<div class="container">
    <app-alert-display></app-alert-display>
    <div class="row mb-2">
        <div class="col">
            <h2 class="d-inline-block">Create new Workbook</h2>
            <custom-rich-text [customRichTextTypeID]="richTextTypeID"></custom-rich-text>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <form *ngIf=(model) (ngSubmit)="onSubmit(newWorkbookForm)" #newWorkbookForm="ngForm">
                <div class="form-group mt-4">
                  <div class="col-sm-5 control-label">
                    <label class="required">Workbook Name</label>
                  </div>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" name="WorkbookName" [(ngModel)]="model.WorkbookName">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <i class="fas fa-bolt"></i> Required field
                  </div>
                  <div class="col-sm text-right">
                    <button type="submit" class="btn btn-fresca" [disabled]="!newWorkbookForm.form.valid || isLoadingSubmit">
                      <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                      Submit
                    </button>
                    <a class="btn btn-secondary ml-1" routerLink="/workbooks">Cancel</a>
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>