<div class="time-study-progress">
    <div [class.active]="params.data.TimeStudies.length >= 1"><span *ngIf="params.data.TimeStudies.length >= 1">&#10003;</span></div>
    <div [class.active]="params.data.TimeStudies.length >= 2"><span *ngIf="params.data.TimeStudies.length >= 2">&#10003;</span></div>
    <div [class.active]="params.data.TimeStudies.length >= 3"><span *ngIf="params.data.TimeStudies.length >= 3">&#10003;</span></div>
    <button (click)="btnClickedHandler()" class="btn btn-success btn-sm">Enter/Edit Time Study</button>
</div>